@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;800&family=Roboto:wght@100;300;400;500;700;900&display=swap");

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  font-family: "Raleway", sans-serif;
}
/* Header */
.headerDiv {
  display: flex;
  flex-direction: row;
  width: 90vw;
  align-items: center;
  justify-content: space-between;
  margin: 5px 15px;
  font-weight: 500;
}
.leftDiv,
.rightDiv,
.menu,
.menuItem,
.menuItem div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.leftDiv img {
  padding: 5px 10px;
  margin-right: 20px;
}
.menuItem {
  padding: 10px;
}
.menuItem div {
  padding: 10px;
}
.menuItem button {
  width: 166px;
  height: 40px;
  background: linear-gradient(266.79deg, #0048ff 4.63%, #0096ff 100%);
  border-radius: 52px;
  border: none;
  color: white;
  margin-left: 20px;
}

/* Body */
.bodyDiv {
  background-image: url("./images/background.png");
  height: 85vh;
  width: 92vw;
  color: white;
  display: flex;
  flex-direction: row;
  padding: 20px 50px;
  align-items: start;
  justify-content: space-between;
}
/* Left side component  */
.infoDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 40%;
  margin-left: 35px;
}
.infoDiv h1 {
  font-weight: 500;
  font-size: 36px;
}
.strike {
  text-decoration: line-through;
  font-family: Roboto;
  text-decoration-color: #ff0000;
  text-decoration-thickness: 5px;
}
.blue {
  font-family: Roboto;
  color: #0096ff;
  margin-right: 5px;
  margin-left: 5px;
}
.infoItems div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin: 25px 10px;
  font-size: 25px;
}
.infoDiv img {
  width: 50px;
  margin-right: 20px;
}

/* Right side component */
.subsDiv{
    background-color: #FFFFFF;
    width: 30%;
    height: 80vh;
    border-radius: 10px;
    color: #3C4852;
    margin-right: 35px;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: Roboto;
}
.top{
    display: flex;
    flex-direction: row;
    width: 65%;
    align-items: center;
    justify-content: space-between;
}
.topDiv{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.number{
    color: white;
    background-color: #0096FF;
    border-radius: 50%;
    width: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.subsDiv h3{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70%;
}
.subsBox{
    border: 1px solid #BEBEBE;
    width: 90%;
    height: 40px;
    margin-bottom: 12px;
}
.subsFee, .total{
    width: 90%;
    height: 40px;
    margin-top: 5px;
}
.divider{
    border: 1px solid #BEBEBE;
    width: 90%;
    margin-top: 5px;
}
.buttonBox{
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 30px;
    margin-bottom: 20px;
}
.cancelBtn{
    width: 47%;
    border: 1px solid #F77171;
    background-color: #FFFFFF;
    color: #F77171;
    height: 30px;
    cursor: pointer;
    border-radius: 5px;
}
.cancelBtn:active, .payBtn:active {
    transform: translateY(4px);}
.payBtn{
    width: 47%;
    height: 30px;
    background-color: #47BA68;
    color: white;
    border: 1px solid #47BA68;
    cursor: pointer;
    border-radius: 5px;
}

.payImg{
    width: 90%;
    display: flex;
    align-items: flex-start;
}


